<div data-ng-show="vm.Item" class="col-md-5">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" data-ng-model="vm.Item.Title">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea rows="6" type="text" class="form-control" id="description" data-ng-model="vm.Item.Description"></textarea>
    </div>

    <div class="form-group">
        <label for="icon">Icon</label>
        <input type="text" id="icon" class="form-control" data-ng-model="vm.Item.Icon">
        Complete listing of all available icons are <a href="http://fontawesome.io/icons/" target="_blank">here</a>
    </div>
    <button class="btn btn-default" data-ng-click="vm.Save()"><i class="fa fa-floppy-o"></i> Save</button>
</div>
