@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="menubackground"></div>
@Html.Partial("_Nav")

<div data-ng-app="admin">
    @Html.Partial("_Vacancies")
    @Html.Partial("_Services")
</div>
