@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div data-ng-app="admin">
    <div data-ng-controller="ServiceAdminCtrl as vm">
        test{{vm.Msg}}test
        data{{vm.Data}}dat
    </div>

</div>