@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}
@Styles.Render("~/Content/css")
<body>
    <div class="yikes">
        <article>
            <h1 class="text-danger">Slight Error.</h1>
            <h2 class="text-danger">a small insignificant error occured please do not be <span style="color:red">ALARMED!!!</span></h2>
        </article>
    </div>
</body>