
<section id="services" data-ng-controller="ServiceItemCtrl as vm">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">
                    We provide staffing solutions on a permanent and temporary basis to assist with your existing needs. Also we are happy to provide salary advice and local industry news to your company on a face to face basis at a time suitable for yourself.
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4" data-ng-repeat="serviceItem in vm.Data">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-{{serviceItem.Icon}} fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading" data-ng-bind="serviceItem.Title"></h4>
                <p class="text-muted" >
                    <pre data-ng-bind="serviceItem.Description"></pre>
                </p>
            </div>
        </div>
    </div>
</section>