
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">
                    We provide staffing solutions on a permanent and temporary basis to assist with your existing needs. Also we are happy to provide salary advice and local industry news to your company on a face to face basis at a time suitable for yourself.
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-address-card-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Finnesse Consulting Solutions</h4>
                <p class="text-muted">I would like to see some text for these sections</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Provide Financial Recruitment</h4>
                <p class="text-muted">I would like to see some text for these sections</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Staffing Solutions On A Permanent And Temporary Basis</h4>
                <p class="text-muted">I would like to see some text for these sections</p>
            </div>
        </div>
    </div>
</section>