@using Recruit.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="menubackground"></div>
@Html.Partial("_Nav")

<section id="login" style="padding: 100px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Login</h2>
                @Html.Partial("_Login", Model)
            </div>
        </div>
    </div>
</section>

